<div class="page-header">
  <%= link_to stories_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_story_path(@story), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Story Details</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @story.title %></dd>

  <dt>Url:</dt>
  <dd><%= @story.url %></dd>

  <dt>Contributor:</dt>
  <dd><%= @story.created_by.email %></dd>

  <dt>Image:</dt>
  <% if @story.image.present? %>
    <dd><%= image_tag(@story.image_url(:medium)) %></dd>
  <%else %>
    <dd><%= image_tag("Ruby.png", :width => 64, :height => 64) %></dd>
  <% end %>
</dl>

<div class="panel panel-primary">
	<div class="panel-heading">
    Comments
  </div>
  <%= render @story.comments %>
</div>
<% if logged_in? %>
  <%= render 'comments/form' %>
<% end %>
